.cartPage
    {

        .cartSticyRight
        {
            position: fixed;
            width: 34px;
            top: 41%;
            right: 0%;
        }
        .cart-grid{
        background-color: white;
        position: relative;
        padding: 1rem 1.25rem;
        }
        .cart-title-top{
        width: 100%;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 1.125rem;
      }
      .productDescLine
      {
        padding: 0% 5%;
    background-color: #CEE9D8;
      }
      .descBackgroudPro
      {
          width:100%;
          margin: 2% 0%;
      }
      .descBackgroudPro img {
        margin-right: 20px;
    }
    .descBackgroudPro .img-left {
        //float: left;
        //width: 130px;
        float: left;
        width: 130px;
        height: 90px;
        max-width: 100%;
        object-fit: contain;
    }
    .productDes{
        font-family: CeraPro-Medium;
        font-size: 14px;
        margin-top: 4%;
    }
    .descBackgroudPro .img-right {
        float: right;
    }
      .cart-title
      {
        color: inherit;
        font-size: 2rem;
        line-height: 2.6875rem;
        font-weight: 400;
        text-transform: inherit;
        font-family: CeraPro-Regular;
      }
      .view-wishlist
      {
        color: inherit;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        font-weight: 400;
        text-transform: inherit;
        font-family: CeraPro-Regular;
      }
      .top-message
      {
        text-align: center;
        background: rgb(254, 246, 210);
        padding: 0.75rem 1.25rem;
        margin: 0px 0px 1.5625rem;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(224, 224, 224);
        border-image: initial;
      }
      .message-text
      {
        color: inherit;
        font-size: 1rem;
        line-height: 1.5625rem;
        font-weight: 400;
        text-transform: inherit;
        margin: 0.75rem 0px;
        font-family: CeraPro-Regular;
      }
      .cart-table{
        display: block;
      }
      .cart-table ul {
        margin-top: 0;
        margin-bottom: 0rem;
    }
      .cartlist-block{
        width: 100%;
        background-color: rgb(248, 248, 248);
        display: flex;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(224, 224, 224);
        border-image: initial;
        padding: 1.125rem 1.5625rem;
        list-style: none;
      }
      .cartlist{
        width: 40%;
      }
      .cart-list-title{
        color: inherit;
        font-size: 1rem;
        line-height: 1.5625rem;
        font-weight: 500;
        text-transform: inherit;
        font-family: CeraPro-Medium;
      }
      .cartlist:last-of-type {
        width: auto;
        margin-left: auto;
      }
      .product-list-grid
      {
        overflow: hidden;
        transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;  
        svg.WishlistButtonstyles__StyledWishlistIcon-d720r1-1.hFCcpa.wishlisted {
            width: 30px;
            height: 29px;
        }
        .grid-spaceing
        {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1.5625rem;
            border-bottom: 1px solid rgb(224, 224, 224);
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
        }
        .ljELlj {
            display: flex;
            flex-direction: row;
            width: 40%;
            flex-shrink: 0;
        }
        .prod-img
        {
            width: 3.75rem;
            height: 100%;
            margin-right: 1.875rem;
            width: 30%;
            flex-shrink: 0;
            text-align: center;
        }
        .prod-img img {
            // max-width: 100%;
            max-height: 10rem;
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }
        
        .productdesc {
            display: flex;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
        }
        .textUp {
            color: rgb(0, 0, 0);
            font-size: 0.875rem;
            line-height: 1.1875rem;
            font-weight: 500;
            text-transform: inherit;
            font-family: CeraPro-Medium;
        }
        .product-id 
        {
            color: rgb(117, 117, 117);
            font-size: 0.875rem;
            line-height: 1.1875rem;
            font-weight: 400;
            text-transform: inherit;
            font-family: CeraPro-Regular;
        }
        .available-option
        {
                margin: 0.75rem 0px;
        }
        .available-label
        {
            color: rgb(0, 133, 55);
            font-size: 0.875rem;
            line-height: 1.1875rem;
            font-weight: 400;
            margin: 0px 0px 0.9375rem;
            text-transform: inherit;
            font-family: CeraPro-regular;
        }
        .qtylabel
        {
            color: rgb(117, 117, 117);
            font-size: 0.875rem;
            line-height: 1.1875rem;
            font-weight: 400;
            text-transform: inherit;
            font-family: CeraPro-Regular;
        }
        .price
        {
            width: 100%;
            text-align: left;
        }
        .price-label
        {       
            display: flex;
            text-transform: inherit;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 700;
            font-family: CeraPro-Medium;
        }
        .price-label span {
            clip: rect(0px, 0px, 0px, 0px);
            clip-path: inset(50%);
            height: 1px;
            position: absolute;
            white-space: nowrap;
            width: 1px;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
            margin: -1px;
            overflow: hidden;
            padding: 0px;
        }

        
    }
    .quentity-grid
    {
      // -webkit-box-pack: end;
       // justify-content: flex-end;
        display: flex;
        flex-direction: row;
        -webkit-box-flex: 1;
        flex-grow: 1;
        height: 100%;
    }
    .quentity-grid .list-inline {
        padding-left: 0;
        list-style: none;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-right: 0px;
        width: auto;
        max-width: 12rem;
        padding: 0px 2.5rem 0px 1rem;
        flex: 1 1 0%;
    }

    .quentity-grid .list-inline-item:not(:last-child) {
        margin-right: 4.5rem;
    }
    .quentity-grid .list-inline-item {
        display: inline-block;
    }
    .quentity-grid > :last-of-type {
        padding-right: 0px;
    
    .gnjirT {
        flex-direction: row-reverse;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
    .ldlhQU {
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-right: 0px;
        width: auto;
        max-width: 12rem;
        padding: 0px 2.5rem;
        flex: 1 1 0%;
        display: flex;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-right: 1.875rem;
    }
    .hzzMPe {
        opacity: 1;
        transition: opacity 0.3s ease 0s;
    }
    button {
        box-shadow: none;
        cursor: pointer;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        padding: 0px;
        background: transparent;
    }
    svg {
        width: 20px;
        height: 22px;
    }
    .total-price
    {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-left: auto;
    }
    .iVILsS {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: flex-end;
        max-width: 0.9375rem;
    }
    .caAtUp {
        color: rgb(0, 0, 0);
        font-size: 0.875rem;
        line-height: 1.1875rem;
        font-weight: 500;
        text-transform: inherit;
    }
    .ewCwgF {
        width: 100%;
        background-color: rgb(248, 248, 248);
        display: flex;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(224, 224, 224);
        border-image: initial;
        padding: 1.125rem 1.5625rem;
        list-style: none;
    }
}
.last-link
{
    display: flex;
    width: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.25rem 0px;
}
.last-link span {
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
    font-family: CeraPro-Regular;
}
.right-link .doSIWo span {
    color: rgb(0, 109, 183) !important;
    text-decoration: none;
    margin-left: 1.25rem;
    margin-right: 0px;
}
.right-link
{
    width: auto;margin-left: auto;
   
}
.backOption
{
    width: 9px;
    margin-right: 6px;
}


.QtyCounter {
    width: 150px;
    position: relative;
}
.QtyCounter .minus {
    position: absolute;
    width: 45px;
    border-right: 1px solid #c4c2c2;
    height: 40px;
    display: inline-block;
    padding: 7px 12px;
    cursor: pointer;
}
.QtyCounter .minus img {
    width: 16px;
}
.QtyCounter input {
    display: inline;
    width: 150px;
    height: 40px;
    padding: 4px 45px;
    text-align: center;
    outline: none;
    overflow: visible;
}
.QtyCounter .btnActive {
    background-color: #e9e9e9;
    border: 1px solid #c4c2c2;
    padding: 5px 12px;
}
.QtyCounter .plus img {
    width: 16px;
}
.limitDiv {
    padding-top: 4px;
}
.cursor-pointer {
    cursor: pointer;
}
.limitDiv .limit {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #000;
    font-family: CeraPro-Medium;
}
.limitDiv img {
    width: 24px;
    margin-left: 5px;
    cursor: pointer;
}
.QtyCounter .plus {
    position: absolute;
    right: 0px;
    height: 40px;
    border-left: 1px solid #c4c2c2;
    width: 45px;
    vertical-align: middle;
    padding: 7px 12px;
    cursor: pointer;
}
.p_qty .pd-zer0 {
    padding: 0px;
}
}
html[dir="rtl"] .cartPage .product-list-grid .productdesc{
    text-align: right;
}
html[dir="rtl"] .cartPage .product-list-grid .prod-img {    
    margin-left: 1.875rem;
    margin-right: 0px;
  
}
html[dir="rtl"].cartPage .QtyCounter .btnActive {
    border-bottom: inherit;
}
html[dir="rtl"] .cartPage .descBackgroudPro .img-left {
    float: right;
    width: 130px;
}
html[dir="rtl"] .cartPage .descBackgroudPro img {
    margin-left: 20px;
}
html[dir="rtl"] .cartPage .productDes {
    font-family: CeraPro-Medium;
    font-size: 14px;
    margin-top: 4%;
    text-align: right;
}
html[dir="rtl"] .cartPage .cartlist:last-of-type {
    width: auto;
    margin-right: auto;
    margin-left: 0px;
}
html[dir="rtl"] .cartPage .product-list-grid .price {
    width: auto;
    float: right;
}
html[dir="rtl"] .cartPage .quentity-grid .list-inline-item:not(:last-child) {
    margin-left: 3rem;
    margin-right: auto;
}
html[dir="rtl"] .cartPage .quentity-grid .list-inline {
    padding-right: 0;
    list-style: none;
    justify-content: space-between;
    margin-left: 0px;
    width: auto;
    max-width: 12rem;
    padding: 0px 1rem 0px 4rem;
    flex: 1 1;
}
html[dir="rtl"] .cartPage .QtyCounter .plus {
    position: absolute;
    left: 0px;
    right: auto;
    height: 40px;
    border-right: 1px solid #c4c2c2;
    width: 45px;
    vertical-align: middle;
    padding: 7px 12px;
    cursor: pointer;
}
html[dir="rtl"] .cartPage .cartlist:first-of-type {
    width: auto;
    margin-right: 42px;
    margin-left: 202px;
}
html[dir="rtl"] .cartPage .QtyCounter .minus {
    position: absolute;
    width: 45px;
    border-left: 1px solid #c4c2c2;
    height: 40px;
    display: inline-block;
    padding: 7px 12px;
    cursor: pointer;
}
html[dir="rtl"] .cartPage .right-link {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
html[dir="rtl"] .cartPage .backOption {
    width: 9px;
    margin-left: 6px;
    transform: rotate(180deg);
}
html[dir="rtl"] .cartPage .cart-list-title {
    color: inherit;
    float: right;
}

.OkBtn{
    margin: 10px 0px !important;
    background: #fafafa !important;
    border: 1px solid #d8d4d4 !important;
    outline: none !important;
    font-size: 11px !important;
    padding: 0px 0px !important;
    border-radius: 4px !important;
    letter-spacing: 1px !important;
    color: #3e3e3e !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
}
.msg{
    font-weight: 500; 
    text-align: center !important;
}
.alertify{
	z-index: 100 !important;
}
.alertify button {
    background: rgba(0,0,0,.05) !important;
}
.blur {
    opacity: 0.3;
}

.cartAmunt {
    .sarAmt{
        color: rgb(0, 0, 0);
        font-size: 0.875rem;
        line-height: 1.1875rem;
        font-weight: 500;   
        font-family: CeraPro-Medium;
    }       
}
@media (max-width: 767px){
    .cartPage .quentity-grid {
        margin-top: 7%;
    }
    .cartPage .backOption {
        width: 11px;
    }
    .cartPage .QtyCounter .minus
    {
        width: 43px;
    }
    .cartPage .QtyCounter input {
        display: inline;
        width: 140px;
    }
    .cartPage .QtyCounter {
        width: 143px;
    }
    .cartPage .productDescLine {
        padding: 2% 8%;
        background-color: #CEE9D8;
    }
    .cartPage .quentity-grid .list-inline-item:not(:last-child) {
        margin-right: 1rem;
    }
    .cartPage .quentity-grid .list-inline {
        padding: 13px 1rem 0px 0rem;
    }
    .cartPage .cart-grid {
        background-color: white;
        position: relative;
        padding: 1rem 0rem;
        margin-bottom: 9%;
    }
    .cartPage .right-link {
        width: 100%;
    }
    .cartPage .right-link .doSIWo span {
        color: rgb(0, 109, 183) !important;
        text-decoration: none;
        margin-left: 0px;
        width: 50%;
        float: left;
        margin-top: 7px;
        font-family: "Cera Pro", sans-serif;
    }
    .cartPage .last-link span {
        color: black;
        align-items: center;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        font-weight: 400;
        float: left;
        text-transform: inherit;
        width: 100%;
    }
    
    html[dir="rtl"] .cartPage .QtyCounter {
        margin-top: 11px;
    }
    html[dir="rtl"] .ordersummary-right .order-collapus .cardList .cardlistimg li {
        margin-right: 0px;
        margin-left: inherit;
    }
    html[dir="rtl"] .ordersummary-right .order-collapus .cardList .cardlistimg {
        padding-right: 0px;
        text-align: center;
        padding-left: 0px;
    }
    html[dir="rtl"] button.addBagbtn.btn-group.mr-3 {
        margin-left: 13px;
        margin-right: 0px;
    }
    
    
}