#changeAddressModel
{
	padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
	max-height: 95vh;    
	min-height: 305px;
	overflow: auto;
	position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
	border-radius: 6px;
	padding-top: 0px;
}
.AddressInfo {
	font-family: Lato,sans-serif;
	background-color: #ffffff !important;
    padding-bottom:0% !important;

    .select-side img {
		width: 12px;
		position: absolute;
		right: 16px;
		top: 48px;
	
	}
	.intl-tel-input {
		width: 100% !important;
	}
    .custom-control-inline {
        display: inline-flex;
        margin-right: 0rem;
    }
    .custom-control-label{
        padding: 1px 9px 15px 0px;
    }
    label.custom-control-label {
        font-family: CeraPro-Medium;
        font-size: 14px !important;
        color: grey !important;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #006db7;
        background-color: #006db7;
    }
    
    .ButtonDivEdit{
		text-align: right;
		margin: 20px 0px 20px 0px;
       .cancelbtn{
        display: inline-block;              
        border-collapse: collapse;
        text-align: center;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        background-color: #e1dfdf;        
        color: black;
        padding: 0.4375rem;
        border-width: 1px;
        border-style: solid;
        border-color: #e1dfdf;
        border-radius: 4px;       
        font-family: CeraPro-Medium;
        outline: none;
       

        &:hover{
            background-color: white;
            color: black;
        }&:focus{
             background-color: #e1dfdf !important;
                border-color: #e1dfdf;
                color: black;
        }

}
       .okbtn{
        display: inline-block;
        border-collapse: collapse;
        text-align: center;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        background-color: #006db7;
        color: white;
        padding: 7px 13px;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        border-color: #006db7;
        font-family: CeraPro-Medium;
        outline: none;
        margin-left: 15px;

            &:hover{
                background-color: white;
                color: black;
                border-color: #e1dfdf;
            }&:focus{
                 background-color: #006db7 !important;
                 border-color: #006db7;
                    color: white;
            }

   }
}
    .styles_modal__gNwvD {
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1000;
        padding: 1.2rem;
    }
    
	
	#phoneNumber {
		border-radius: 4px;
		border: 2px solid #c9c9c9;
		font-family: CeraPro-Regular;
	}
	#phoneNumber .selected-dial-code {
		padding-left: 23px !important;
	}
	#phoneNumber .intl-tel-input .country-list{
       width: 100%;
	}
	#phoneNumber input {
		width: 100%;
		border-style: solid;
		border-width: 1px;
		background-color: #ffffff;
		border-color: #ffffff;
		/* padding: 15px 30px 15px 16px; */
		height: 40px;
		font-size: 16px;
		text-transform: capitalize;
		line-height: 1 !important;
		outline: 1px solid #e0e0e0;
		font-size: 14px;
		font-weight: 400;
		color: #7e7e7e;
		font-family: CeraPro-Regular;
	}
	.error {
		color: #e12929;
		font-size: 0.75rem;
		line-height: 1.1875rem;
		font-family: CeraPro-Regular;
		display: block;
	}
	label {
		display: inline-block;
		margin-bottom: 0.5rem;
		width: 100%;
		position: relative;
		font-family: inherit;
		font-weight: 700;
		font-size: .75rem;
		color: #333;
		display: inline-block;
    }

	#login-box {
		.form-group {
			.form-control {
			    font-size: 14px;
				font-family: inherit;
				width: 100%;
				height: 40px;
				line-height: 23px;
				font-weight: 500;
				display: block;
				padding-left: 16px;
				padding-right: 16px;
				background-color: #fff;
				border-radius: 4px;
				border: 2px solid #c9c9c9;
				font-family: CeraPro-Regular;
			}
		}
	}
	label.form-check-label {
		cursor: pointer;
		font-family: inherit;
		color: #006cb6;
		padding-top: 1px;
		font-size: .875rem;
		line-height: 1.333rem;
		cursor: pointer;
		font-family: inherit;
		color: #006cb6;
		padding-top: 1px;
		font-size: .875rem;
		line-height: 27px;
		padding-left: 16px;
		margin-bottom: 0px;
	}
	input#checkbox {
		-ms-flex: 0 0 19px;
		height: 19px;
		width: 19px;
		background-color: #fff !important;
		box-sizing: border-box;
		border-radius: 4px;
		border: 2px solid #c9c9c9;
	}

#login-column {
	width: 495px;
}
#login {
	.container {
		#login-row {
			#login-column {
				#login-box {
					background-color: #ffffff;
					border: 4px solid #fff;
					max-width: 400px;
					padding: 0 20px 0px;
					#login-form {
						padding: 20px;
						#register-link {
							margin-top: -85px;
						}
					}
				}
			}
		}
	}
}
.account-icon {
	width: 108px;
	padding-bottom: 15px;
	padding-top: 4%;
}
input::placeholder {
	color: #aba9a9;
  }
  label, input {
	font-family: CeraPro-Regular;
  }
//   input{
// 	cursor: pointer;

//   }
  label{
	font-family: CeraPro-Medium;
    font-weight: 500;
  }
.birth-title
{
	font-family: inherit;
    font-weight: 700;
    font-size: .75rem;
    color: #333;
	display: inline-block;
	float: left;
}
.circle-icon {
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 0px auto;
	outline: none;
}
.form-group {
	margin-bottom: 5px;
	margin-top: 0px;
	position: relative;
}
.app-footer {
    max-width: 495px;
    position: relative;
    border: none;
    padding: 0!important;
    margin: 35px auto 0!important;
}
.subtext {
	font-size: 10px;
    color: #707070;
    margin: -10px 0 25px 35px;
    line-height: 12px;
    .privacy-link
    {
        text-decoration: underline;
        color: #004b9f;
        cursor: pointer;
    }

}
.forgot-user2 {
	margin: 16px auto;
	text-align: center;
}
.forgot-user1 {
	color: #fff;
	background-color: #006cb6;
}
.forgot-user2.forgot-user1 {
	background-color: transparent;
}
.forgot-user {
	font-family: inherit;
	font-size: 1.125rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 4px;
	height: 50px;
	padding-left: 25px;
	padding-right: 25px;
	min-width: 175px;
	outline: none;
	border: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	font-size: 1.125rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 4px;
	height: 50px;
	padding-left: 25px;
	padding-right: 25px;
	min-width: 175px;
	outline: none;
	border: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.or-first {
	border-collapse: separate;
	color: #123;
	font-weight: 400;
	display: table;
	font-size: .875rem;
	line-height: 17px;
	margin: 10px 0;
	table-layout: auto;
	text-align: center;
	white-space: nowrap;
	width: 100%;
	&:after {
		position: relative;
		top: 8px;
		border-top: 2px double #badbf4;
		content: "";
		display: table-cell;
		width: 50%;
	}
	&:before {
		position: relative;
		top: 8px;
		border-top: 2px double #badbf4;
		content: "";
		display: table-cell;
		width: 50%;
	}
	span {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.omb_login {
	.omb_authTitle {
		text-align: center;
		line-height: 300%;
	}
	.omb_socialButtons {
		a {
			color: white;
			// in youruse @body-bg opacity: 0.9;
			width: 100%;
            font-size: .9375rem;
            height: 38px;
			&:hover {
				color: white;
				opacity: 1;
			}
		}
		.omb_btn-facebook {
			background: #3b5998;
		}
		.omb_btn-twitter {
			border: 1px solid #979797 !important;
			background: #fff;
			padding: 6px;
		}
		.omb_btn-google {
			background: #000;
			color: #fff;
			padding: 6px;
		}
	}
	.omb_loginOr {
		position: relative;
		font-size: 1.5em;
		color: #aaa;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		.omb_hrOr {
			background-color: #cdcdcd;
			height: 1px;
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
		.omb_spanOr {
			display: block;
			position: absolute;
			left: 50%;
			top: -0.6em;
			margin-left: -1.5em;
			background-color: white;
			width: 3em;
			text-align: center;
		}
	}
	.omb_loginForm {
		.input-group.i {
			width: 2em;
		}
		.help-block {
			color: red;
		}
	}
	padding: 10px 0px;
}
.btn-lg {
	font-size: 14px;
	line-height: 1.5;
	border-radius: 0.3rem;
}
.facebook-white {
	margin-right: 6px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}
.google-icon {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.main-title-sign {
	font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2.125rem;
    text-align: center;
    font-family: CeraPro-Medium;
}
.sub-head-line {
	font-size: .875rem;
	line-height: 1.0625rem;
	font-weight: 400;
	color: #646464;
	text-align: center;
	margin-top: 20px;
	color: #545454;
}

.omb_socialButtons {
	.col-xs-4.col-8 {
		&:first-child {
			padding: 0px 11px;
		}
	}
	.col-xs-4.col-2 {
		padding: 0px 10px;
	}
}
.Section__Section--1YR06hT {
	margin: 32px auto;
	font-size: 14px;
	text-align: center;
}
.forgot-user2.Button__link--1ZhhExr {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}
.forgot-user.Button__link--1ZhhExr {
	color: #006cb6;
	background-color: transparent;
	font-weight: 700;
	font-size: .875rem;
	height: auto;
	line-height: 15px;
}
.backButton {
	position: absolute;
	top: 12px;
	left: 16px;
	border: 0;
	cursor: pointer;
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	z-index: 6;
}
.back-icon {
	width: 14px;
}
.eye-icon
{
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
	right: 10px;
    top: 40px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    border: 0;
    background-image: url(../../assets/images/eyeclosed.svg);
}
.custCheck {
    width: 21px;
    height: 34px;
}
input:valid ~ label, textarea:valid ~ label {
	transition: all 0.125s ease;
   
    left: 0px;
    color: #007bff;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    font-size: 16px;
    font-family: CeraPro-Medium;
    outline: none;
}
.eye-icon2
{
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
	right: 61px;
    top: 69%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    border: 0;
    background-image: url(../../assets/images/eyeclosed.svg);
}
.select-down
{
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
    right: 21px;
    top: 57%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    border: 0;
    background-image: url(../../assets/images/select-down.png);
}

.onCheck
{
	display: inline-flex;
    width: 100%;
}
.alignment {
    text-align: center;
    margin-top: 13%;
}
.alignment .CancelBtn {
    background: #f3f3f3;
    outline: none;
    box-shadow: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0px 10px 0 0;
    border-radius: 0;
    font-size: 13px;
    font-size: 1.125rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 175px;
    color: #000;
    border: 1px solid #c4c4c4;
    font-weight: 500;
}
.alignment .saveBtn {
    color: #fff;
    background-color: #006cb6;
    font-size: 1.125rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 175px;
    border: 1px solid #006cb6;
    font-weight: 500;
}

}


html[dir="rtl"] .AddressInfo .custom-control-inline {
    display: inline-flex;
    margin-right: 0rem;
    float: right;
}
html[dir="rtl"] .AddressInfo .select-side img {  
    left: 16px;
    right:auto;
    
}
html[dir="rtl"] .AddressInfo .uttonDivEdit{
   text-align: left;
}
html[dir="rtl"] .AddressInfo .okbtn{
    margin-left: 0;
    margin-right: 15px;
}

html[dir="rtl"] .AddressInfo .alignment .CancelBtn {
    margin: 0px 0px 0 10px;
}
html[dir="rtl"] #changeAddressModel
{
    padding-bottom: 0px;
}
html[dir="rtl"] .SignIn label {
    text-align: right;
}
html[dir="rtl"] .AddressInfo label {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 100%;
    position: relative;
    font-family: inherit;
    font-weight: 700;
    font-size: .75rem;
    color: #333;
    display: inline-block;
    text-align: right;
}
html[dir="rtl"] .SignIn .facebook-white {
    margin-left: 6px;
    margin-right: auto;
}
html[dir="rtl"] .form-check .SignIn label {
    text-align: right;
    margin-right: 21px;
}
html[dir="rtl"] .AddressInfo .subtext {
    font-size: 10px;
    color: #707070;
    margin: -10px 35px 25px 0px;
    line-height: 12px;
    text-align: right;
}
html[dir="rtl"] .AddressInfo .facebook-white {
    margin-left: 6px;
    margin-right: auto;
}
html[dir="rtl"] .AddressInfo .app-footer {

    text-align: right;
}
html[dir="rtl"] .AddressInfo .eye-icon {
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
	left: 10px;

	right: auto;
}
html[dir="rtl"] .AddressInfo .eye-icon2 {
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
	left: 63px;
	right: auto;
	top: 68.5%;
}
html[dir="rtl"] .AddressInfo .select-down {
    height: 32px;
    width: 32px;
    position: absolute;
    cursor: pointer;
	left: 21px;
	right: auto;
}
html[dir="rtl"] .AddressInfo .backButton {
    position: absolute;
    top: 12px;
    right: 16px;
    border: 0;
    cursor: pointer;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    z-index: 6;
}
html[dir="rtl"] .AddressInfo .back-icon {
    width: 14px;
    transform: rotate(180deg);
}
html[dir="rtl"] .birth-title
{
	font-family: inherit;
    font-weight: 700;
    font-size: .75rem;
    color: #333;
	display: inline-block;
	float: right;
}


html[dir="rtl"] .AddressInfo .error {
    text-align: right;
}
html[dir="rtl"] .AddressInfo #phoneNumber input{
   padding-left: 0px;
   padding-right: 90px;
}
html[dir="rtl"] .AddressInfo #phoneNumber .selected-dial-code {
    padding-left: 15px !important;
}
  @media (max-width: 767px){
  
      .omb_login .omb_socialButtons a {
          font-size: 12px;
      }
      .AddressInfo #login-box .form-group .form-control {
          height: 40px;
      }
      .AddressInfo #login .container #login-row #login-column #login-box {
		background-color: #fff;
		border: 0px solid #fff;
		max-width: 495px;
		padding: 0 22px 25px;
	}
	.AddressInfo .omb_login .omb_socialButtons a {
		font-size: 12px;
	}
	.AddressInfo .main-title-sign {
		font-size: 25px;
	}

	.AddressInfo .eye-icon2 {
		right: 35px;
		top: 71.2%;
	
	}
	html[dir="rtl"] .AddressInfo .eye-icon {
		height: 32px;
		width: 32px;
		position: absolute;
		cursor: pointer;
		left: 10px !important;		
		right: auto;
	}
	html[dir="rtl"] .AddressInfo .eye-icon2 {
		height: 32px;
		width: 32px;
		position: absolute;
		cursor: pointer;
		left: 30px !important;
		top: 63% !important;
		right: auto;
	}
	.AddressInfo .eye-icon {	
		top: 35px
	}
	.AddressInfo #phoneNumber input{
		height: 40px;
	}
	#changeAddressModel{
      max-width: 90%;
	}
  }
  @media (min-width:375px){
	// .AddressInfo .eye-icon {
	// 	right: 32px;
	// 	top: 63.5%;
	// }
	.AddressInfo .eye-icon2 {
		right: 35px;
		top: 70.5%;
	}
	
  }
