.checkOutForm
{
    margin:2% auto 4%;

    .footerHeading span {
      color: inherit;
      font-size: 17px !important;
      font-weight: 500 !important;
      text-transform: uppercase;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      /* padding: 0px 12px; */
      font-family: CeraPro-bold;
    }
    html[dir=rtl] .checkBoxFix {
      right: -5px;
      left: auto;
    }

    .StepContainerShipping
    {
        width:100%;

        .AddressWrapper
        {
            position: relative;
            pointer-events: auto;
            padding: 0rem 0px;
        }
        .step-title
        {
            color: inherit;
            font-size: 17px;
            font-weight: 500;
            text-transform: inherit;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding: 0px 12px;
            font-family: CeraPro-medium;
        }
        .border-margin
        {
          margin: 0px 26px;
        }
      
        .step-section { 
            display: flex;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: space-between;
            padding: 1.25rem 13px;
        }
        .checkFont
        {
          font-size: 16px;
        }

        .StepBadge {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px 11px;
        }
        .StatusIconCircle {
            width: 1.875rem;
            height: 1.875rem;
            background-color: rgb(0, 109, 183);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-color: rgb(0, 109, 183);
            border-radius: 50%;
        }
        .StatusIconText
        {
            color: #fff;
            font-size: 18px;
            //line-height: 1.9375rem;
            font-weight: 500;
            text-transform: inherit;
            font-family: CeraPro-medium;
        }
        .StatusTitle {
            color: rgb(0, 0, 0);
            font-size: 19px;
           // line-height: 1.9375rem;
            font-weight: 500;
            margin-left: 0.9375rem;
            text-transform: inherit;
            font-family: CeraPro-Medium;
        }
        hr {
            margin-bottom: 0px !important;
        }
    }
    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label, input:disabled ~ label {
        font-size: 0.75em;
        color: rgb(117, 117, 117);
        -webkit-transition: all 0.125s ease;
        transition: all 0.125s ease;
        top: 12px;
    /* left: 1.25rem; */
    padding: 0px 15px;
       }
       
       .styled-input {
         float: left;
         //margin: 2rem 0 1rem;
         position: relative;
         width: 50%;
       }
       
       .styled-input label {
         color: #999;
         padding: 1rem;
         position: absolute;
         top: 4px;
         left: 14px;
         -webkit-transition: all 0.25s ease;
         transition: all 0.25s ease;
         pointer-events: none;
       }
       .inputControl {
        padding: 5px 10px;
        width: 100%;
        margin-bottom: 13px;
        //height: 80px;
        font-family: CeraPro-Regular;
    }
    .inputMaxHeight
    {
      height: 80px;
    }
    .redValidaion
    {
      position: absolute;
    left: 13px;
    top: 77%;
    color: rgb(208, 2, 27);
    font-weight: 500;
    font-family: CeraPro-medium;
    font-size: 0.75rem;
    }
       
       .styled-input.wide { width: 100%; }
       
       input,
       textarea {
         padding:1rem 1rem 0px;
         border: 0;
         width: 100%;
         font-size: 1rem;
         -webkit-box-flex: 1;
            flex-grow: 1;
            width: 100%;
            color: rgb(44, 44, 44);
            height: 3.45rem;
            background: rgb(255, 255, 255);
            //padding: 1.125rem 1.25rem 0px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(224, 224, 224);
            border-image: initial;
            overflow: visible;
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
       }
       
       input ~ .greenLine,
       textarea ~ .ddd {
         display: block;
         width: 100%;
         height: 2px;
         background: rgb(0, 133, 55);
         //position: absolute;
         bottom: 0;
         left: 0;
         -webkit-transition: all 0.125s ease;
         transition: all 0.125s ease;
       }
       input ~ .redLine,
       textarea ~ .ddd {
         display: block;
         width: 100%;
         height: 2px;
         background: #d0021b;
         //position: absolute;
         bottom: 0;
         left: 0;
         -webkit-transition: all 0.125s ease;
         transition: all 0.125s ease;
       }
       
       input:focus,
       textarea:focus { outline: 0; }

       
       
       input:focus ~ span,
       textarea:focus ~ span {
         width: 100%;
         -webkit-transition: all 0.075s ease;
         transition: all 0.075s ease;
        
       }
       
       textarea {
         width: 100%;
         min-height: 15em;
       }
      
       input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}
.dell
{
  padding: 0.9375rem;
}
.bUgSOh {
  flex-basis: 100%;
}
select {
  padding: 1rem 18px 0px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  flex-grow: 1;
  width: 100%;
  color: #2c2c2c;
  height: 3.45rem;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-image: none;
  border-image: initial;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}
.label-select
{
  font-size: 0.75em;
    color: rgb(117, 117, 117);
    transition: all 0.125s ease;
    position: absolute;
    top: 11px;
    left: 8px;
    padding: 0px 23px;
}
.select-down {
  height: 7px;
  width: 12px;
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: 0;
  background-image: url(../../assets/images/select-down1.png);
}
.lock-svg
{
  position: absolute;
    color: rgb(117, 117, 117);
    top: 1.26rem;
    left:28px;
    height: 1.25rem;
    width: 1.25rem;
    transform: translateY(-10%);
}
.label-display {
  font-size: 0.75em;
    color: #757575;
    transition: all 0.125s ease;
    position: absolute;
    top: 11px;
    left: 29px;
    padding: 0px 25px;
    background-color: inherit;
}
.lastinputfix input {
  padding: 1rem 41px 0px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  flex-grow: 1;
  width: 100%;
  color: #2c2c2c;
  height: 3.45rem;
  background: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-image: none;
  border-image: initial;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.iBtn
{
  border: inherit;
    background-color: rgb(117, 117, 117);
    width: 25px;
    height: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
     position: absolute;
    cursor: pointer;
    right: 25px;
    top: 26%;

}
.i-circle{
  color: white;
  font-size: 14px;
  line-height: initial;
  font-weight: 400;
  text-transform: inherit;
}
.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.checkboxcheck {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.checkboxcheck input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.checkBoxFix
{
  left: -10px;
  width: 15px;
  top: -4px;
  overflow: hidden;
  z-index: 999;
}
.termsCheck .custom-control-label::before {
  width: 20px !important;
  height: 20px !important;
  border-color:#adb5bd !important;
  background-color: inherit !important;
  border-radius: 4px !important;
}
.termsCheck .custom-control-input:checked ~ .custom-control-label::after
{
  background-image: url('../../assets/images/icons/check.png');
    width: 21px;
    height: 21px;
    border-color:1px #adb5bd solid !important;
    background-color: inherit !important;
    border-radius: 0px !important;
    //background-color: #ffffff;
  //background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e);
}
.termsCheck .custom-control-label::after {
  position: absolute;
  // top: 0.3rem;
  // left: -1.3rem;
  display: block;
  width: 1rem;
  border-radius: 0px !important;
  height: 1rem;
  border-color:1px #adb5bd solid !important;
  content: "";
  background: no-repeat 50% / 50% 50%;
}


.checkBoxFixDropDown {
  left: 14px;
  width: 15px;
  top: -4px;
  overflow: hidden;
  z-index: 999;
}
.fixHeightBox
{
  height: 32px;
}
.custom-control-input:checked ~ .customControlLabel::before {
  color: #fff;
  border-color: #e0e0e0;
  background-color: #fff;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 0px;
}
.customControlLabel::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 20px;
  border-radius: 0px !important;
  height: 20px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}
.disabled .custom-control-label::before {
  content: unset !important;
}

.customControlLabel::after {
  position: absolute;
  top: 0.3rem;
  left: -1.3rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}
.checkboxcheck .customControlLabel
{
  padding-top: 4px;
  font-size: 15px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.BaseButton
{
  display: inline-block;
    width: auto;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    cursor: not-allowed;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(224, 224, 224);
    font-family: CeraPro-Medium;
}
.dNUJxY {
  display: inline-block;
  width: auto;
  border-collapse: collapse;
  text-align: center;
  font-weight: 500;
    font-size: 16px;
  font-family: CeraPro-Medium;
  line-height: 1.1875rem;
  background-color: rgb(0, 109, 183);
  color: rgb(255, 255, 255);
  padding: 0.9375rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: rgb(0, 109, 183);
}
.dNUJxY:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.SubmitAddress
{
  flex-basis: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 21px 8px;
    margin-top: 1%;
}

.anotherAdress
{
  color: rgb(0, 109, 183);
    font-size: 0.875rem;
    background-color: inherit;
    border: inherit;
    padding: 0px 0px;
    margin: 5% 0% 0%;
}

.bBiyIO {
  position: absolute;
  color: rgb(0, 133, 55);
  top: 22px;
  right: 20px;
  height: 1.25rem;
  width: 1.25rem;
  display: block;
}
.bjcPDo {
  position: absolute;
  color: rgb(208, 2, 27);
  top: 22px;
  right: 20px;
  height: 1.25rem;
  width: 1.25rem;
  display: block;
}

.LoadingWrapper
{
  position: relative;
  pointer-events: auto;
  padding:1.25rem 21px;
  
    .fkWgPa {
      padding: 1.25rem 0px;
  }
  .methodTitle
  {
      color: inherit;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 500;
      text-transform: inherit;
      font-family: CeraPro-Medium;
  }
  .gridMethodBox
  {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1.125rem 0px;
  }
  .metodbox {
    width: 12rem;
    margin-left: 0.75rem;
  }
  .metodbox:first-of-type {
    margin: 0px;
  }
  .methodBoxActive {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 11.25rem;
    min-height: 7.5rem;
    text-align: center;
    cursor: pointer;
    padding: 1.5625rem 0.9375rem;
    background: rgb(230, 243, 255);
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(49, 161, 224);
    border-image: initial;
}
.methodBoxInActive {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 11.25rem;
  min-height: 7.5rem;
  text-align: center;
  cursor: pointer;
  padding: 1.5625rem 0.9375rem;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-image: initial;
}
.checkBtn {
  position: absolute;
  opacity: 0;
  height: 0px;
  width: 0px;
}
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.stageComlete {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url(../../assets/images/stages-complete.svg);
  background-size: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.stageInComlete {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5625rem;
  height: 1.5625rem;
  background-size: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.stageText {
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.smalltextTitle
{
    color: inherit;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.priceLabel  { 
color: inherit;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.metodbox label {
  margin-bottom: 0px;
}
.ccf
{
  display: inline-block;
    width: auto;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(0, 109, 183);
    color: rgb(255, 255, 255);
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    font-family: CeraPro-Medium;
    border-radius: 4px;
    border-color: rgb(0, 109, 183);
}


}

.StepContainer .StatusIconCircle {
  width: 1.875rem;
  height: 1.875rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-image: none;
  border-image: initial;
  border-color: #e0e0e0;
  border-radius: 50%;
}
.StepContainer .StatusIconText {
  color: #cacaca;
  font-size: 18px;
  font-weight: 500;
  text-transform: inherit;
  font-family: CeraPro-medium;
}
.StepContainer .StatusTitle {
  color: #cacaca !important;
  font-size: 19px;
  font-weight: 500;
  font-family: CeraPro-Medium; 
  margin-left: 0.9375rem;
  text-transform: inherit;
}
.tagline { 
    position: absolute;
    top: -19px;
    left: 12px;
    margin-top: -6px;
}
.findAddress .inputControl {
  padding: 5px 3%;
  width: 100%;
  margin-bottom: 41px !important;
}
.findAddress .SubmitAddress {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 21px 8px;
  margin-top: -4%;
}
.findAddress .inputControl
{
  float: left;
    position: relative;
    width: 100% !important;
}

.findAddress .inputControl {
  padding: 5px 11px;
  width: 100% !important;
  margin-bottom: 41px !important;
}


}

html[dir=rtl] .checkOutForm .tagline {
  position: absolute;
  top: -19px;
  right: 12px;
  left: auto;
  margin-top: -6px;
}
html[dir=rtl] .checkOutForm .redValidaion {
  position: absolute;
  right: 13px;
  left: auto;
  color: #d0021b;
  top: 77%;
  font-family: CeraPro-medium;
  font-size: 0.75rem;
}
.checkBoxDiv{
  padding-left: 13px;
}

.checkBoxDiv .checkBoxBilling {
  position: static;
    height: auto;  
    cursor: pointer;
    padding: 0;
}
.checkBoxDiv label{
  padding: 2px 0px;
  top: 0px;
}

.CollapsDiv{
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    padding: 15px 15px;
    cursor: pointer;
    font-family: CeraPro-Regular;
}
.CollapsDiv .Icon{
  width: 12px;
  position: absolute;
  right: 15px;
  top: 25px;
}
.CollapsDiv .open .Icon{ 
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.CollapsDiv .PannelDiv{
  padding: 10px;
}
.CollapsDiv  .selectAddress
{
  min-height: 100px;
 // padding-bottom: 14px;
  padding-left: 10px !important;
  padding-right: 0px !important; 
}
.CollapsDiv  .disabled
{
  background-color: #f7f7f7;
    border: 1px solid #e9ecef;
    border-radius: 6px;
    padding-bottom: 14px;
    // cursor: default;
}
// .CollapsDiv .defaultCursor
// {
//   height: 80px;
//   cursor: default;
// }
.CollapsDiv label{
  position: relative !important;
} 
html[dir=rtl] .CollapsDiv .Icon{
  width: 12px;
  position: absolute;
  right: auto;
  left:15px;
}
html[dir="rtl"] .CollapsDiv .Collapsible_text_container {
  position: static;
  padding: 0px;
    border-top: none;
  background-color: #FFF;
  font-family: CeraPro-medium;
  font-size: 16px;
  color: #000;
  display: flex;
}
input.bUgSOh.checkBoxDiv.customField.inputMaxHeight {
  width: 100%;
}
html[dir="rtl"]  .CollapsDiv .PannelDiv {
    padding: 10px;
    text-align: right;
}
@media (max-width: 767px){
.CollapsDiv label {
    position: relative !important;
    padding: 0px 8px !important;
}
.CollapsDiv .selectAddress {
   
    padding-left: 10px !important;
    }
    .CollapsDiv .PannelDiv {
    padding: 10px 0;
}

  .checkOutForm .styled-input {
    float: left;
    position: relative;
    width: 100%;
}
.checkOutForm .dNUJxY {
 
  font-size: 14px;
}
.checkOutForm .StepContainerShipping .border-margin {
  margin: 0px 0px;
}
.checkOutForm .StepContainerShipping .step-section {
  padding: 1.25rem 3px;
}
.mobPadding
{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.checkOutForm .customControlLabel::before {
  left: -11px;
}
.checkOutForm .BaseButton {
  padding: 11px;
  line-height: 17px;
}
.checkOutForm .anotherAdress {
  padding: 0px 16px;
  text-align: left;
  margin: 0% 0% 0%;
}
.checkOutForm .LoadingWrapper {
  padding: 1.25rem 16px;
}
.checkOutForm .LoadingWrapper .methodBoxActive {
  min-width: 0px;
}
.checkOutForm .LoadingWrapper .metodbox label {
  min-width: 0px;
}
.checkOutForm .LoadingWrapper .metodbox {
  width: 12rem;
  margin-left: 0.2rem;
}
.checkOutForm .LoadingWrapper .ccf {
  display: inline-block;
  width: 100%;
}
html[dir=rtl] .checkOutForm .customControlLabel::before {
  position: absolute;
  top: 0.25rem;
  right: -14px !important;
  left:auto;
}
html[dir=rtl] .checkOutForm .tagline {
  position: absolute;
  top: -19px;
  right: 12px;
  left: auto;
  margin-top: -6px;
  font-size: 12px;
}

html[dir=rtl] .checkOutForm .LoadingWrapper .metodbox:first-of-type {
  margin-left: 3px !important;
}
.CollapsDiv .disabled {    
    padding-left: 0px !important;
        word-break: break-word;
    padding-right: 10px !important
}

}

html[dir=rtl] .checkOutForm .StepContainerShipping .StatusTitle {
  color: black;
  font-size: 19px;
  font-weight: 500;
  font-family: CeraPro-Medium;
  margin-right: 0.9375rem;
  text-transform: inherit;
}
html[dir=rtl] .checkOutForm .LoadingWrapper .metodbox:first-of-type {
  margin-left: 13px;
}
html[dir=rtl] .checkOutForm .StepContainerShipping .step-title {
  text-align: right;
}

html[dir=rtl] .checkOutForm .bjcPDo {
  right: auto;
  top: 22px;
  left: 20px;
}
html[dir=rtl] .checkOutForm .bBiyIO {
 top: 22px;
  left: 20px;
  right: auto;
}
html[dir=rtl] .checkOutForm .label-select {
  left: auto;
  top: 11px;
  right: 8px;
}
html[dir=rtl] .checkOutForm .select-down {
  right: auto;
  left: 30px;
}
html[dir=rtl] .checkOutForm .label-display {
  left: auto;
  right: 29px;
}
html[dir=rtl] .checkOutForm .iBtn {
  right: auto;
  left: 25px;
}
html[dir=rtl] .checkOutForm .lock-svg {
  left: auto;
  right: 24px;
}
html[dir=rtl] .checkOutForm .customControlLabel::before {
  position: absolute;
  top: 0.25rem;
  right: -1.5rem;
}
html[dir=rtl] .checkOutForm .LoadingWrapper .methodTitle {
  text-align: right;
}


html[dir=rtl] .checkOutForm .LoadingWrapper {
  overflow: auto;
}
html[dir=rtl] .checkOutForm .LoadingWrapper .ccf {
  float: right;
  margin-bottom: 3%;
}

html[dir=rtl] .styled-input.bUgSOh.checkBoxDiv.customField.inputMaxHeight
{
  width: 100%;
}
html[dir=rtl] .checkOutForm .checkBoxFix {
  right: -5px;
  left: auto;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .styled-input.bUgSOh.checkBoxDiv.customField.inputMaxHeight {
    width: 100%;
}
.checkOutForm {
  margin: 2% auto 12%;
}

  html[dir=rtl] .checkOutForm .LoadingWrapper .metodbox label {
    margin-bottom: 0px;
    min-width: 0px;
}
html[dir=rtl] .PannelDiv .checkOutForm .checkBoxFixDropDown {
  right: 14px;
  width: 15px;
  top: -4px;
  overflow: hidden;
  z-index: 999;
}

}