$Color_black: black;
$Color_white: white;
$Color_blue: #016db6;
$Color_orange:#FD8024;

// @font-face {
// 	font-family: CeraPro-Bold;
// 	src: local('Courier'),  url(../../assets/fonts/CeraPro-Bold.woff);
// 	font-display: swap;
//   }
//   @font-face {
// 	font-family: CeraPro-Medium ;
// 	src: local('Courier'),  url(../../assets/fonts/CeraPro-Medium.woff);
// 	font-display: swap;
//   }
//   @font-face {
// 	font-family: CeraPro-Regular;
// 	src: local('Courier'),  url(../../assets/fonts/CeraPro-Regular.woff);
// 	font-display: swap;
//   }

@font-face {
	font-family: CeraPro-Bold;
	src: url(../../assets/fonts/CeraPro-Bold.woff);
  }
  @font-face {
	font-family: CeraPro-Medium ;
	src: url(../../assets/fonts/CeraPro-Medium.woff);
  }
  @font-face {
	font-family: CeraPro-Regular;
	src: url(../../assets/fonts/CeraPro-Regular.woff);
  }
